body {
    justify-content: center;
    align-items: center;
    height: 100vh; /* ให้ body สูงเท่ากับ viewport */
    margin: 0;
    background-color: #f0f0f0;   
}

.container {
    background-color: #a9ddfc;
    padding: 30px;
    border-radius: 10px;
    width: 1000px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 250px;
}
.title h1 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-top: -10px;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    width: 48%;
    margin-left: 10px;
   
}
.right {
    margin-left: 40px;
}

h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.left h3 {
   font-weight: bold;
}
.right h3 {
    font-weight: bold;
}

ul {
    margin: 0;
    padding-left: 20px;
}

.divider {
    width: 2px;
    background-color: white;
    height: auto;
    margin-left: 20px;
}

.image-container {
    text-align: center;
    margin-top: 20px;
    padding: 0; /* Remove padding */
    margin-top: 20px;
}

.image-container img {
    width: 100%; /* Make the image fill the container */
    border-radius: 10px; /* Match the border radius of the container */
}