@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/*navbar*/        
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .navbar {
            background-color: #FF99C8;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
        }
        .logo {
            display: flex;
            align-items: center;
        }
        .logo img {
            width: 150px; 
            height: auto; 
            margin-left: 20px;
        }
        .nav-links {
            display: flex;
            gap: 20px;
        }
        .nav-links a {
            font-size: 20px;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-weight: bold;
            margin-top: 25px;
        }
        .nav-links p{
            font-size: 20px;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-weight: lighter;
            margin-top: 25px;
        }
        .SignIn-SignUp {
            display: flex;
            gap: 10px;
            margin-top: center;
            margin-right: 30px;
            text-decoration: none;
        }
        .SignIn-SignUp a {
            font-size: 20px;
            text-decoration: none;
            color: rgb(255, 253, 253);
            font-weight: bold;
            margin-top: 25px;
        }
        .SignIn-SignUp p {
            font-size: 20px;
            text-decoration: none;
            color: rgb(255, 253, 253);
            font-weight: lighter;
            margin-top: 25px;
        }
